#wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #7e7e7e3d;
  border-radius: 20px;
  text-align: center;
  /* box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1); */
  &::before {
    opacity: 0.96;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--color-surface);
  }
}
.titlebar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
  padding: 0 4px;
  -webkit-app-region: drag;
  border-bottom: 1px solid #00000021;
  button {
    width: 28px;
    height: 32px;
    border: none;
    background: transparent;
    color: var(--color-text);
    -webkit-app-region: no-drag;
    cursor: pointer;
    &:hover {
      color: var(--color-secondary);
    }
    .icon {
      font-size: 17px;
      &.active {
        color: var(--color-primary);
      }
    }
  }
}
.box_wrap {
  display: flex;
  height: calc(100% - 32px);
}
.box_sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 58px;
  padding: 16px 10px 16px;
  background: var(--color-background-soft);
  flex-shrink: 0;
  .list_menu {
    .list-item {
      font-size: 0;
      + .list-item {
        margin-top: 13px;
      }
      .link {
        opacity: 0.7;
        font-size: 12px;
        font-weight: 500;
        color: var(--color-text);
        transition: color 0.2s, opacity 0.2s;
        letter-spacing: -0.3px;
        &:hover {
          opacity: 1;
        }
        &.link-active {
          opacity: 1;
          font-weight: bold;
          color: var(--color-primary);
        }
      }
      .icon {
        display: block;
        font-size: 25px;
      }
    }
  }
  .box_button-bottom {
    margin-top: auto;
    .button {
      position: relative;
      border: 0;
      background: none;
      color: var(--color-text);

      cursor: pointer;
      .icon {
        opacity: 0.7;
        transition: 0.2s;
      }

      + .button {
        margin-top: 12px;
      }
      .text_info {
        position: absolute;
        top: 50%;
        left: 100%;
        margin-left: 8px;
        padding: 5px 8px;
        border-radius: 3px;
        background: var(--color-primary);
        opacity: 0.9;
        font-size: 11px;
        font-style: normal;
        color: var(--color-white);
        transform: translateY(-50%);
        white-space: nowrap;
        opacity: 0;
        z-index: 10;
        box-shadow: 1px 1px 10px #00000031;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -3.5px;
          z-index: -1;
          width: 7px;
          height: 7px;
          border-radius: 1px;
          background: inherit;
          transform: translateY(-50%) rotate(45deg);
        }
      }
      &:hover {
        .icon {
          opacity: 1;
        }
        .text_info {
          opacity: 1;
        }
      }
    }
  }
  .button_darkmode {
    &.dark {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}
.box_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-right: 8px;
  padding: 12px;
  gap: 16px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }
  &::-webkit-scrollbar-button:single-button:vertical:decrement,
  &::-webkit-scrollbar-button:single-button:vertical:increment {
    display: block;
    height: 8px;
    border: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    min-height: 24px;
    border-radius: 8px;
    background: linear-gradient(
      135deg,
      var(--color-primary) 40%,
      var(--color-secondary) 100%
    );

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  }
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background: var(--color-background);
  }
  .box_main-bottom {
    width: 100%;
    margin-top: auto;
  }
  .box_content {
    + .box_content {
      padding-top: 16px;
      border-top: 1px solid var(--color-background);
    }
    .box_title-wrap {
      margin-bottom: 16px;
    }
    .box_preview {
      margin-top: 8px;
    }
    .box_error {
      margin-top: 8px;
      font-size: 13px;
      color: var(--color-text-sub);
      line-height: 22px;
      .icon {
        margin-right: 2px;
        font-size: 17px;
        line-height: 22px;
        vertical-align: top;
      }
    }
  }
  .text_title2 {
    font-size: 18px;
    color: var(--color-text);
    text-align: left;
    & + .text_descript {
      margin-top: 4px;
    }
  }
  .text_title3 {
    font-size: 15px;
    color: var(--color-primary);
    text-align: left;
    text-transform: capitalize;

    & + .text_descript {
      margin-top: 4px;
    }
  }
  .text_descript {
    font-size: 13px;
    color: var(--color-text-sub);
    text-align: left;
    overflow: auto;
    & + .text_descript {
      margin-top: 4px;
    }
  }
  .list_option {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px 5px;
    .list-item {
      label {
        display: inline-block;
        opacity: 0.8;
        padding: 5px 10px;
        border-radius: 20px;
        background: var(--color-background-soft);
        font-size: 13px;
        color: var(--color-text);
        transition: 0.2s;
        cursor: pointer;
        letter-spacing: -0.3px;
        &:hover {
          opacity: 1;
        }
      }
      .form_repository {
        &:checked + label {
          opacity: 1;
          background: var(--color-primary);
          color: var(--color-white);
        }
      }
    }
  }
  .form {
    width: 100%;
  }
  .box_entry {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 0;
    gap: 0 8px;
    &.left {
      justify-content: flex-start;
      .box_entry-inner {
        display: block;
        text-align: left;
        &.flex {
          display: flex;
          align-items: center;
          width: 100%;
          .form_entry {
            flex-grow: 1;
          }
          .box_form-wrap {
            flex-grow: 1;
          }
        }
      }
    }
    &.line {
      padding-bottom: 10px;
      border-bottom: 1px solid var(--color-background);
    }
    &.wrap {
      flex-wrap: wrap;
      gap: 6px 0;
    }
    .text__tag {
      opacity: 0.85;
      padding: 2px 5px;
      border-radius: 4px;
      background: var(--color-background);
      font-size: 12px;
      font-weight: 500;
      color: var(--color-text);
      + .text__tag {
        margin-left: 4px;
      }
    }
    .link_text {
      color: var(--color-text);
      transition: 0.2s;
      &:hover {
        color: var(--color-primary);
      }
    }
    .text_entry-basic {
      padding: 6px 0;
      font-size: 13px;
      color: var(--color-text);
      &.bold {
        font-weight: bold;
      }
    }
    .text_entry-line {
      display: inline-block;
      padding: 6px 8px;
      font-size: 13px;
      font-weight: bold;
      color: var(--color-primary);
      &::after {
        content: "";
        padding-left: 6px;
        border-right: 1px solid var(--color-muted);
      }
    }
    .box_form-wrap {
      display: inline-block;
      position: relative;
      .button_from {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        .icon {
          font-size: 18px;
          color: var(--color-text);
        }
      }
      & + .submit_entry {
        margin-left: 8px;
      }
    }
    .form_entry {
      width: 111px;
      padding: 3px 8px;
      border: 2px solid #00000000;
      border-radius: 15px;
      background: var(--color-background);
      color: var(--color-text);
      &:focus {
        border: 2px solid var(--color-primary);
        outline: none;
      }
      &::placeholder {
        opacity: 0.7;
        color: var(--color-text-sub);
      }
      &.form_entry-copy {
        padding: 6px 8px;
        padding-right: 26px;
      }
      &.full {
        width: 100%;
      }
      &.single {
        width: 286px;
      }
      &.triple {
        width: 75px;
      }
    }
  }
  .submit_entry {
    display: inline-block;
    width: calc(50% - 4px);
    padding: 16px;
    border: 0;
    border-radius: 18px;
    background: var(--color-primary);
    font-size: 15px;
    color: var(--color-white);
    transition: 0.1s;
    text-transform: capitalize;
    cursor: pointer;
    .icon {
      margin-right: 6px;
      font-size: 19px;
    }
    &.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
    &:active {
      transform: scale(0.97);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    &.mini {
      width: auto;
      padding: 5px;
      vertical-align: top;
      .icon {
        margin-right: 0px;
        font-size: 18px;
      }
    }
  }
  .link_entry {
    display: inline-block;
    width: calc(50% - 4px);
    margin-left: 8px;
    padding: 16px;
    border: 0;
    border-radius: 18px;
    background: var(--color-primary);
    font-size: 15px;
    color: var(--color-white);
    transition: 0.1s;
    text-transform: capitalize;
    cursor: pointer;
    .icon {
      margin-right: 6px;
      font-size: 19px;
    }
    &:active {
      transform: scale(0.97);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    &.deactivate {
      opacity: 0.3;
      cursor: default;
      pointer-events: none;
    }
  }
  .box_result {
    position: relative;
    margin: 24px 0;
    padding: 16px 24px;
    font-size: 13px;
    color: var(--color-text);
    line-height: 1.45;
    border-top: 1px solid var(--color-muted);
    word-break: break-all;
  }
  .button_delete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    .icon {
      font-size: 20px;
      color: var(--color-text);
    }
  }

  .box_add-repositoty {
    display: inline-block;
    width: auto;
    margin: 10px;
    .button_add-repositoty {
      margin-bottom: 8px;
      padding: 8px;
      border-radius: 50%;
      background: var(--color-background);
      color: var(--color-primary);
      transition: 0.2s;
      &:hover {
        transform: rotate(180deg);
      }
    }
    .text {
      font-size: 13px;
      font-weight: bold;
      color: var(--color-primary);
      letter-spacing: -0.2px;
      text-transform: capitalize;
    }
  }

  .box_floating {
    position: absolute;
    right: 18px;
    bottom: 18px;
    z-index: 100;
    .button {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: var(--color-primary);
      color: #fff;

      + .button {
        margin-top: 8px;
      }
    }
    .icon {
      font-size: 21px;
      color: var(--color-white);
    }
  }
}

.mini-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: var(--color-background-soft);
  color: var(--color-text);
  cursor: pointer;
}

.mini-button .icon {
  font-size: 28px;
}
