#wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #7e7e7e3d;
  border-radius: 20px;
  text-align: center;
  /* box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1); */
  &::before {
    opacity: 0.96;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--color-surface);
  }
}
.titlebar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  -webkit-app-region: drag;
  border-bottom: 1px solid #00000021;
  button {
    width: 30px;
    height: 32px;
    border: none;
    background: transparent;
    color: var(--color-text);
    -webkit-app-region: no-drag;
    cursor: pointer;
    &:hover {
      color: var(--color-secondary);
    }
    .icon {
      font-size: 17px;
      &.active {
        color: var(--color-primary);
      }
    }
  }
}
.box_wrap {
  display: flex;
  height: calc(100% - 32px);
}
.box_sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: 16px 8px 16px;
  background: var(--color-background-soft);
  flex-shrink: 0;
  .list_menu {
    .list-item {
      font-size: 0;
      + .list-item {
        margin-top: 16px;
      }
      .link {
        opacity: 0.7;
        font-size: 13px;
        font-weight: 500;
        color: var(--color-text);
        transition: color 0.2s, opacity 0.2s;
        letter-spacing: -0.2px;
        &:hover {
          opacity: 1;
        }
        &.link-active {
          opacity: 1;
          font-weight: bold;
          color: var(--color-primary);
        }
      }
      .icon {
        display: block;
        font-size: 25px;
      }
    }
  }
  .button_darkmode {
    opacity: 0.7;
    margin-top: auto;
    border: 0;
    cursor: pointer;
    color: var(--color-text);
    background: none;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
    &.dark {
      transform: rotate(180deg);
    }
  }
}
.box_main {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  .box_main-bottom {
    margin-top: auto;
    width: 100%;
  }
  .text_title2 {
    font-size: 18px;
    color: var(--color-text);
    text-align: left;
  }
  .list_option {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 8px 5px;
    .list-item {
      label {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 20px;
        background: var(--color-background-soft);
        font-size: 13px;
        color: var(--color-text);
        transition: 0.2s;
        cursor: pointer;
        letter-spacing: -0.3px;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
      .form_repository {
        &:checked + label {
          background: var(--color-primary);
          color: var(--color-white);
          opacity: 1;
        }
      }
    }
  }
  .form {
    width: 100%;
  }
  .box_entry {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    gap: 0 8px;
    width: 100%;
    &.left {
      justify-content: flex-start;
    }
    &.line {
      border-top: 1px solid var(--color-background);
      padding-top: 10px;
    }
    .text_entry-basic {
      font-size: 13px;
      color: var(--color-text);
    }
    .text_entry-line {
      margin-right: 6px;
      padding-right: 6px;
      font-size: 13px;
      font-weight: bold;
      color: var(--color-primary);
      border-right: 1px solid var(--color-muted);
    }
    .form_entry {
      width: 111px;
      padding: 4px 8px;
      border: 2px solid #00000000;
      border-radius: 15px;
      background: var(--color-background);
      color: var(--color-text);
      &:focus {
        border: 2px solid var(--color-primary);
        outline: none;
      }
    }
    .form_entry-single {
      width: 222px;
    }
    .form_entry-triple {
      width: 75px;
    }
  }
  .submit_entry {
    display: inline-block;
    width: calc(50% - 4px);
    padding: 16px;
    border: 0;
    border-radius: 18px;
    background: var(--color-primary);
    font-size: 15px;
    color: var(--color-white);
    transition: 0.1s;
    text-transform: capitalize;
    cursor: pointer;
    .icon {
      margin-right: 6px;
      font-size: 19px;
    }
    &:active {
      transform: scale(0.97);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
  .link_entry {
    display: inline-block;
    width: calc(50% - 4px);
    margin-left: 8px;
    padding: 16px;
    border: 0;
    border-radius: 18px;
    background: var(--color-primary);
    font-size: 15px;
    color: var(--color-white);
    transition: 0.1s;
    text-transform: capitalize;
    cursor: pointer;
    .icon {
      margin-right: 6px;
      font-size: 19px;
    }
    &:active {
      transform: scale(0.97);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    &.deactivate {
      opacity: 0.3;
      cursor: default;
      pointer-events: none;
    }
  }
  .box_result {
    position: relative;
    max-height: 100px;
    margin: 24px 0;
    padding: 16px 24px;
    font-size: 13px;
    color: var(--color-text);
    line-height: 1.45;
    border-top: 1px solid var(--color-muted);
    word-break: break-all;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      min-height: 24px;
      border-radius: 8px;
      background: linear-gradient(
        135deg,
        var(--color-primary) 40%,
        var(--color-secondary) 100%
      );
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    }
    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background: var(--color-background);
    }
  }
  .form_result {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }
}
