@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input[type="radio"] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
.material-symbols-outlined {
  vertical-align: top;
  &.fill {
    font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
button {
  border: 0;
  background: none;
  cursor: pointer;
}
:root {
  --color-primary: #6366f1;
  --color-secondary: #f472b6;
  --color-background: #e9eef3;
  --color-background-soft: #edf0f5;
  --color-surface: #ffffff;
  --color-muted: #aab5d3;
  --color-text: #1e293b;
  --color-text-sub: rgba(38, 47, 61, 0.8);
  --color-white: #fff;
}

.darkmode {
  --color-primary: #8082f0;
  --color-secondary: #f472b6;
  --color-background: #ffffff17;
  --color-background-soft: #182130;
  --color-surface: #1e293b;
  --color-muted: #64748b;
  --color-text: #f1f5f9;
  --color-text-sub: rgba(241, 245, 249, 0.8);
}
.select-custom {
  margin-right: 8px;
  padding: 6px 35px 6px 12px;
  border-radius: 8px;
  background: var(--color-surface);
  font-size: 13px;
  color: var(--color-text);
  appearance: none;
  font-weight: 600;
  letter-spacing: -0.3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 8px center;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  option {
    color: var(--color-text);
  }
}
.darkmode {
  .select-custom {
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") !important;
  }
}
::selection {
  background: rgba(34, 211, 238, 0.35);
}
input[type="text"] {
  caret-color: var(--color-primary);
}
